body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.brand-logo {
    margin-left: 1rem;
}

#description-container {
    margin-top: 1rem;
}

#search-params {
    margin-top: 1rem;
    align-content: center;
}

.btn {
    margin-top: 1rem;
    margin-left: 1rem;
}

.dropdown-option {
    padding-left: .5rem;
    padding-top: 1rem;
}

#results-container {
    padding-bottom: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#results .s4 {
    height: 60vh;
    padding: 15px;
}

.s4 img {
    height: 30vh;
    width: 80%;
    margin-left: 10%;
}